<section id="footer__container">

  <section id="footer__contaiver-links">
    <div class="menu-bar__item">
      <ul>
        <li><a href="https://diego-de-souza.github.io/Curr-culo/" target="_blank">ABOUT</a></li>
        <li><a href="https://www.linkedin.com/in/diego-de-souza-lima-campus-expert/" target="_blank">LINKEDIN</a></li>
        <li><a href="https://github.com/Diego-de-Souza" target="_blank">GITHUB</a></li>
      </ul>
    </div>
  </section>
  <div id="footer__container-copy">
    <p>&copy; </p>
    <p>Desenvolvido para bootcamp Becas Santander por Diego de Souza</p>
   </div>

</section>
