<div class="home__container">

  <div class="home__container-cards">
    <app-card Id="1" ></app-card>
    <button (click)="passaMsg('1')"  [routerLink]="['/descricao']"><p>SEE MORE</p></button>
  </div>
  <div class="home__container-cards">
    <app-card Id="2" ></app-card>
    <button (click)="passaMsg('2')" [routerLink]="['/descricao']"><p>SEE MORE</p></button>
  </div>
  <div class="home__container-cards">
    <app-card Id="3" ></app-card>
    <button (click)="passaMsg('3')" [routerLink]="['/descricao']"><p>SEE MORE</p></button>
  </div>
  <div class="home__container-cards">
    <app-card Id="4" ></app-card>
    <button (click)="passaMsg('4')" [routerLink]="['/descricao']"><p>SEE MORE</p></button>
  </div>
  <div class="home__container-cards">
    <app-card Id="5" ></app-card>
    <button (click)="passaMsg('5')" [routerLink]="['/descricao']"><p>SEE MORE</p></button>
  </div>
  <div class="home__container-cards">
    <app-card Id="6" ></app-card>
    <button (click)="passaMsg('6')" [routerLink]="['/descricao']"><p>SEE MORE</p></button>
  </div>
  <div class="home__container-cards">
    <app-card Id="7" ></app-card>
    <button (click)="passaMsg('7')" [routerLink]="['/descricao']"><p>SEE MORE</p></button>
  </div>
  <div class="home__container-cards">
    <app-card Id="8" ></app-card>
    <button (click)="passaMsg('8')" [routerLink]="['/descricao']"><p>SEE MORE</p></button>
  </div>
  <div class="home__container-cards">
    <app-card Id="9" ></app-card>
    <button (click)="passaMsg('9')" [routerLink]="['/descricao']"><p>SEE MORE</p></button>
  </div>
  <div class="home__container-cards">
    <app-card Id="10" ></app-card>
    <button (click)="passaMsg('10')" [routerLink]="['/descricao']"><p>SEE MORE</p></button>
  </div>
  <div class="home__container-cards">
    <app-card Id="11" ></app-card>
    <button (click)="passaMsg('11')" [routerLink]="['/descricao']"><p>SEE MORE</p></button>
  </div>
  <div class="home__container-cards">
    <app-card Id="12" ></app-card>
    <button (click)="passaMsg('12')" [routerLink]="['/descricao']"><p>SEE MORE</p></button>
  </div>

</div>


