<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img
      src="assets/ps-logo.png"
      alt="playstation logo"
      srcset=""y
      width="140px"
      height="32px"
    >
  </div>
  <div class="menu-bar__item">
    <ul>
      <li><a href="https://diego-de-souza.github.io/Curr-culo/" target="_blank">ABOUT</a></li>
      <li><a href="https://www.linkedin.com/in/diego-de-souza-lima-campus-expert/" target="_blank">LINKEDIN</a></li>
      <li><a href="https://github.com/Diego-de-Souza" target="_blank">GITHUB</a></li>
    </ul>

  </div>
</div>
