<section id="cardDescription__information">
  <div class="cardDescription__opacity"></div>
  <table>
    <tr>
      <th class="first_columm">Plataforma: </th>
      <th class="secound_columm">{{gameType}}</th>
      <th rowspan="6" class="third_columm">{{gameAdditional}}</th>
    </tr>
    <tr>
      <th class="first_columm">Lançamento: </th>
      <th class="secound_columm">{{gameLancamento}}</th>
      <th></th>
    </tr>
    <tr>
      <th class="first_columm">Distribuidora: </th>
      <th class="secound_columm">{{gameDistribution}}</th>
      <th></th>
    </tr>
    <tr>
      <th class="first_columm">Gênero: </th>
      <th class="secound_columm">{{gameGender}}</th>
      <th></th>
    </tr>
    <tr>
      <th class="first_columm">Voz: </th>
      <th class="secound_columm">{{gameVoice}}</th>
      <th></th>
    </tr>
    <tr>
      <th class="first_columm">Idiomas da Tela: </th>
      <th class="secound_columm">{{gameScreenLanguage}}</th>
      <th></th>
    </tr>

  </table>
</section>

